<script type="text/javascript">
    $(function() {
        $('#check_services').click(function (event) {
            event.preventDefault();
            var movie_value = $('input[name=movie]').val()
            var url = '/check?movie=' + movie_value
            window.location = url
        });
    });
</script>

<form action="/download" method="post">
  <input type="text" name="movie" class="span3" placeholder="Movie to download…">
  <button class="btn btn-success" href="#">
    <i class="icon-download icon-white"></i> Download
  </button>
  <button class="btn" href="#" id="check_services">
    <i class="icon-ok icon-white"></i> Check Free Services
  </button>
</form>

<a class="btn" href="/recent"><i class="icon-film"></i> What's new?</a>
	