<form action="/download" method="post">
	<input type="text" name="movie" class="span3" placeholder="Movie to download…">
	<button class="btn btn-success" href="#">
		<i class="icon-ok icon-white"></i> Download
	</button>
</form>

<a class="btn" href="/recent"><i class="icon-film"></i> What's new?</a>
	